* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}



.mainnav {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 30px;

}

.main {
    height: auto;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), url('./static/images/bg.jpg');
    background-size: cover;
    background-position: center center;
    color: white;
    background-repeat: no-repeat;
}

.select-btn {
    padding: 6px 36px;
    border-radius: 5px;
    color: white;
    font-size: large;
    border: 1 px solid rgba(255, 255, 255, 0.706);
    background: transparent;
}

.sign-btn {
    padding: 6px 17px;
    margin-left: 25px;
    border-radius: 5px;
    color: white;
    font-size: large;
    background-color: rgb(224, 13, 13);
    border: none;
}


.content {
    height: auto;
    width: 65%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 21px;
    justify-content: center;
    align-items: center;
    color: white;
    padding-top: 150px;
}

i {
    position: relative;
    left: 30px;
    bottom: 1px;
}

.line1 {
    font-family: sans-serif;
    font-size: 45px;
    text-align: center;
    font-weight: bolder;

}

.line2 {

    font-family: sans-serif;
    font-size: 27px;
    color: #ece9e9;

}

.line3 {
    font-family: sans-serif;
    font-size: 24px;
    color: #ece8e8;

}

.input1 {
    width: 400px;
    border-radius: 4px;
    padding: 13px;
    font-size: 23px;
    font-weight: 400;
    border: 1px solid rgba(246, 238, 238, 0.5);
    background-color: rgba(23, 23, 23, 0.826);
}

.get-start {
    background-color: rgb(208, 7, 7);
    border-radius: 5px;
    width: 245px;
    padding: 12px;
    color: white;
    font-size: 26px;
    border: none;
    margin-bottom: 200px;
}

.separation {
    height: 10px;
    position: relative;
    z-index: 10;
    background-color: rgb(62, 62, 62);
}

.first {
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    gap: 3px;
    justify-content: space-between;
    align-items: center;
    color: white;
}



.p1 {
    font-size: 49px;
    font-weight: 900;

}

.p2 {
    font-size: 27px;
    font-weight: 400;
}

.tv {
    position: relative;
}

.tv-img {
    position: relative;
    z-index: 1;
}

.tv-video {
    position: absolute;
    top: 90px;
    left: 78px;


}

.st {
    height: auto;
    width: 75%;
    margin: auto;
    display: flex;
    gap: 3px;
    justify-content: center;
    align-items: center;
    color: white;
}

.p3 {
    font-family: sans-serif;
    font-size: 50px;
    font-weight: 900;

}

.p4 {
    font-family: sans-serif;
    font-size: 25px;
    font-weight: 400;
}

.st2 {
    width: 320px;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    padding: 3px 10px;
    font-size: 17px;
    font-weight: 500;
    border: 2px solid white;
    border-radius: 10px;
    position: relative;
    bottom: 160px;
    left: 120px;
}


.span2 {
    color: blue;
}

.p5 {
    margin-top: 23px;
}

.p6 {
    font-size: 27px;
    font-weight: 400;
}

.tv-video2 {
    position: absolute;
    top: 48px;
    left: 107px
}


.third {

    width: 75%;
    height: auto;
    margin: 30px auto;
    display: flex;
    gap: 5px;
    justify-content: space-between;
    align-items: center;
    color: white;

}

.forth {
    width: 75%;
    height: auto;
    margin: auto;
    gap: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;

}


.p8 {
    font-size: 50px;
    font-weight: 900;
    color: white;
}

.p9 {
    font-size: 29px;
    font-weight: 400;
    color: white;
}

.faq {
    width: 70%;
    height: auto;
    margin: auto;
}

.h {
    color: white;
    font-size: 46px;
    margin-bottom: 30px;
    font-family: sans-serif;
    font-weight: 900;
    padding-top: 20px;
    text-align: center;
}

.faq {
    width: 75%;
    height: auto;
    margin: auto;
    color: white;
    margin-bottom: 80px;

}

.que {

    width: 100%;
    height: 80px;
    padding: 23px;
    display: flex;
    font-size: 22px;
    font-family: sans-serif;
    justify-content: space-between;
    margin: 15px auto;
    background-color: #2d2d2d;
    transition: all 0.5s ease-in-out;

}

.que:hover {
    cursor: pointer;
    background-color: #515151;
}

.plus {
    filter: invert(1);
}

.faq-lst {
    margin-top: 50px;
    text-align: center;
}

.faq-lst p {
    font-size: 23px;
}


.footer-main {
    width: 70%;
    margin: 30px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
    gap: 60px;
    justify-items: center;
    text-align: center;

}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
}

.footer-item a {
    color: white;
}

.footer-item .select-btn {
    width: 170px;


}

.f-icon {
    position: absolute;
    bottom: 57px;
    left: 15px;
}